 *{
            padding: 0px;
            margin: 0px;
        }
        *{
            box-sizing: border-box;
        }
        ::after,::before{
            box-sizing: border-box;
        }

        #html{
            word-break: break-all;
           
        }

        @keyframes spin{
            form{
                transform: rotate(0deg);
            }
            to{
                transform: rotate(360deg);
            }
        }

         #div1{
            position: fixed;
            left: 50%;
            transform: translateX(-50%);
            top:20px;
            animation: spin 3s infinite linear;
        }

        #div1::after{
            content: '';
            display: block;
            
            position: absolute;
        }

        #div1::before{
            content: '';
            display: block;
          
            position: absolute;
        }

        @media (max-width: 500px) {
            

            #html{
            word-break: break-all;
            height: 50vh;
            overflow: auto;
        }
         #div1wrapper{
           height: 50vh;
          
        }

        #div1{
            position: relative;
           top:0px;
           right: 0px;
        }
    }